include:
services:
  nginx:
    container_name: ${COMPOSE_PROJECT_NAME}-nginx
    hostname: nginx
    image: nginx:mainline
    restart: on-failure
    volumes:
      - ${PWD}/nginx:/etc/nginx/conf.d:ro
      - ${PWD}/letsencrypt:/etc/letsencrypt:ro
    ports:
      - 443:443
    networks:
      - backend
      - frontend

networks:
  backend:
    internal: true
  frontend:
    internal: false
