services:
  phoenixd:
    build:
      context: ../
      tags:
        - "massmux/phoenixd"
    container_name: ${COMPOSE_PROJECT_NAME}-phoenixd
    hostname: phoenixd
    image: massmux/phoenixd
    restart: on-failure
    volumes:
      - ./data:/root/.phoenix
    working_dir: /app
    environment:
      - TZ=Europe/Rome
    networks:
      - backend
      - frontend

  lnbits:
    container_name: ${COMPOSE_PROJECT_NAME}-lnbits
    image: massmux/lnbits:0.12.11
    hostname: lnbits
    restart: on-failure
    stop_grace_period: 1m
    volumes:
      - ./lnbitsdata:/app/data
      - ./.env:/app/.env
    environment:
      FORWARDED_ALLOW_IPS: "*"
    networks:
      - backend

  postgres:
    container_name: ${COMPOSE_PROJECT_NAME}-postgres
    image: postgres
    restart: on-failure
    environment:
      POSTGRES_PASSWORD: XXXX
      POSTGRES_DB: lnbits
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
      - ./pgtmp:/var/tmp
    networks:
      - backend
